@keyframes pulse {
    0% {
        background-color: white;
    }
    3% {
        background-color: gold;
    }
    100% {
        background-color: white;
    }
}

ul {
    list-style-type: "\2BA1";
}

li {
    padding-left: 8px;
}