body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: hsl(260deg 100 10);
    color: white;
}

body.light #darkModeButton {
    background-color: skyblue;
    color: yellow;
}

body.dark #darkModeButton {
    background-color: blue;
    color: lightgray;
}

#start {
    background-color: lime;
}

button {
    border: 1px black solid;
    border-radius: 3px;
}

button:hover, button:focus {
    border: 3px black solid;
}

li {
    padding: 10px;
    display: flex;
    align-content: middle;
}

ol {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0px;
    height: min-content;
    max-height: 10em;
    overflow-x: scroll;
}

p {
    margin: 0px;
}

p.comment {
    font-style: italic;
}

#is>li{
    font-family: 'Source Code Pro', monospace;
}

body.light li.curr {
    background-color: palegreen;
}

body.dark li.curr {
    background-color: forestgreen;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

tr.valRow>td, tr.index>td {
    padding-left: 10px;
    padding-right: 10px;
}

p.index, tr.index {
    font-size: small;
    height: min-content;
}

body.light td.numerator {
    border-bottom: 2px solid black;
}

body.dark td.numerator {
    border-bottom: 2px solid white;
}

body.light td.denominator {
    border-top: 2px solid black;
}

body.dark td.denominator {
    border-top: 2px solid white;
}

td.matrixIndex {
    padding-left: 5px;
    padding-right: 5px;
}

body.dark a {
    color: darkturquoise;
}

body.dark a:visited {
    color: darkcyan;
}