#start {
    background-color: lime;
}    

li {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

ol {
    padding-left: 0px;
    max-height: 10em;
    overflow-y: scroll;
}

#is>li{
    font-family: 'Source Code Pro', monospace;
}

li.curr {
    background-color: palegreen;
}

table {
    border-collapse: collapse;
}

td {
    text-align: center;
}

td.numerator {
    border-bottom: 2px solid black;
}

td.denominator {
    border-top: 2px solid black;
}

td.matrixIndex {
    padding-left: 5px;
    padding-right: 5px;
}